body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

#map {
    width: 100%;
    height: calc(100vh - 50px); /* Adjust for the header height */
    position: absolute;
    top: 50px; /* Adjust for the header height */
    left: 0;
}

.control-top-left,
.control-top-right {
    position: absolute;
    top: 10px;
    background: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.control-top-left {
    left: 10px;
}

.control-top-right {
    right: 10px;
}

#handDrawControls.control-top-right {
    top: 105px; /* Adjust this value to move it lower */
}

.leaflet-control-zoom {
    top: 45px !important; /* Move the zoom controls down */
}

.delete-features-button {
    top: 175px; /* Position right below the zoom buttons */
    width: 36px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute; /* Ensure it follows the positioning of leaflet controls */
}

.delete-features-button i {
    font-size: 24px;
}

#supportText {
    margin-top: 10px;
    font-size: 10px; /* Make the text smaller */
}

#supportText p {
    margin: 5px 0;
    font-size: 10px; /* Make the text smaller */
    color: #555;
}

#supportText a {
    color: #4CAF50;
    text-decoration: none;
}

#supportText a:hover {
    text-decoration: underline;
}

.control-bottom-center {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex; /* Use flexbox for layout */
    align-items: center;
    gap: 10px; /* Space between items */
}

.control-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 1px;
    z-index: 1000;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#compassContainer {
    width: auto; /* Adjust to auto to avoid distortion */
    height: auto; /* Adjust to auto to avoid distortion */
    max-width: 200px; /* Smaller size */
    max-height: 200px; /* Smaller size */
}

#compassImage {
    width: 100%;
    height: 100%;
}

#handDrawControls {
    position: absolute;
    right: 10px; /* Align to the right */
    background: white;
    padding: 10px;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Space between items */
    top: 120px; /* Adjust to position lower */
}
